* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: #000000;
    color: azure;
    padding: 10px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1, h2 {
    color: #E9967A;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin: 20px 0;
}

/* Apply initial styles to hide the text */
.transition-word {
    color: azure;
    opacity: 0;
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    animation: fadeIn 2s forwards; /* Define the animation */
}

/* Define the animation keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    img {
        max-width: 80%;
    }
}
